Screen {
    layout: vertical;
    background: black;
}

Header {
    background: blue;
    color: white;
}

Footer {
    background: darkgray;
    color: white;
}

.list-container {
    width: 30%;
    margin: 1;
    padding: 1;
    border: tall white;
}

Static {
    padding: 1;
}

Input {
    margin-top: 1;
    border: tall grey;
}

Input:focus {
    border: tall yellow;
}

Button {
    margin-top: 1;
}

#list_form {
    padding: 1;
    margin-bottom: 1;
}

.hidden {
    display: none;
}